<%- partial('common/head') %>
<body>
    <% if (theme.plugins.facebook_sdk) { %>
        <%- partial('plugin/facebook-sdk') %>
    <% } %>
    <div class="main-content pusher" id="container">
        <%- partial('common/header') %>
        <% if (theme.customize.sidebar) { %>
            <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
        <div class="outer pusher">
            <% if (theme.customize.profile.enabled) { %>
                <%- partial('common/profile', null, {cache: !config.relative_link}) %>
            <% } %>
            <section id="main"><%- body %></section>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>
    </div>
</body>
</html>